#fp-nav ul li a span {
    background: #fff;
}

.fp-slidesNav ul li a span {
    background: #fff;  
}

.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}